global
        maxconn 1024
        user haproxy
        group haproxy
 
defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        retries 3
        option  redispatch
        maxconn 2000
        contimeout      5000
        clitimeout      50000
        srvtimeout      50000
 
listen webcluster *:80
        mode    http
        stats   enable
        stats   auth us3r:pa55Word
        balance roundrobin
        option httpchk HEAD / HTTP/1.0
        option forwardfor
        cookie LSW_WEB insert
        option httpclose
        server web01 10.10.10.21:8000 cookie LSW_WEB01 check
        server web02 10.10.10.22:8000 cookie LSW_WEB02 check
